.tea {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 2px black;
  cursor: pointer;

  &.selected {
    background-color: green;
  }

  &.hovered {
    box-shadow: inset 0 0 15px black;
  }
}

.teaRow {
  display: flex;
  justify-content: center;

  & > .tea {
    margin-right: 28px;

    &:last-child {
      margin-right: 0;
    }
  }
}
